/*その他と主な共通部分は省略*/

body{
    background-color: aquamarine;
}

body {
    font-family: myfont;
    font-size: 48px;
}


.navbar-brand{
    font-size: 48px;
    font-weight: bold;
}

.navbar-nav{
    margin-left: auto;
}