
/* #mapArea {
    background-color: red;
}  */


/* 
メッセージボックス②
自作バージョン
 */

.messeageBox,
.messeageBox2{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(77, 77, 77, 0.5);
}


.modal-content {
    border: 2px solid white;
    background-color: white;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }



.messeageBoxTitlle,
.receivedMesseageBoxTitlle {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    width: 100%;
}


.messeageContentTitle{
    margin: 0;
}

#messeageContent{
    border: 2px solid gray;  /* 枠線 */
    border-radius: 0.3em;   /* 角丸 */
    
}


#messeageBoxWho,
#messeageBoxWhen,
#messeageBoxType {
    font-size: 36px;
    font-family: myfont;
    border: 2px solid gray;  /* 枠線 */
}

.messeageContent {

    font-size: 16px;
    display: flex;
    background-color: white;
    /* width: 200px;
    height: 200px; */
}

.navbar-brand{
    font-size: 48px;
    font-weight: bold;
}

.navbar-nav{
    margin-left: auto;
}


.top{
    font-weight: bold;
}

.messeageBoxHeader{
    display: flex;
}

.modal-a{
    float: right;
    /* justify-content: center; */
}




